In [2]:
#!pip3 install pandas

In [3]:
import pandas as pd
import numpy as np

In [4]:
file1 = pd.read_csv('file1.csv')
display(file1.head(50))
display(file1.tail())
file1.shape

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,High School or Below,256686.78%,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,College,571033.31%,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,High School or Below,816261.71%,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,NaN,High School or Below,287205.13%,57749.0,74.0,1/0/00,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,Bachelors,617710.93%,61040.0,79.0,1/1/00,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,NaN,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,NaN,Bachelor,239210.79%,17870.0,61.0,1/0/00,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,NaN,College,580206.60%,97541.0,72.0,1/0/00,Personal Auto,Four-Door Car,389.185006
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,College,916206.32%,29723.0,80.0,1/0/00,Personal Auto,Four-Door Car,20.985105
28,GE62437,AZ,NaN,College,1290256.01%,86584.0,111.0,1/2/00,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,NaN,Master,323536.05%,75690.0,80.0,1/1/00,Personal Auto,Four-Door Car,384.000000
30,SV85652,Arizona,NaN,College,245458.35%,23158.0,63.0,1/1/00,Personal Auto,Four-Door Car,322.294043
31,UL64533,Nevada,NaN,High School or Below,1897545.61%,65999.0,237.0,1/0/00,Corporate Auto,Luxury SUV,615.927769
32,PF41800,California,NaN,Bachelor,471532.13%,0.0,65.0,1/0/00,Personal Auto,Four-Door Car,308.150890
33,HD95276,Washington,F,College,473787.17%,0.0,130.0,1/0/00,Personal Auto,SUV,23.820158
34,SK67821,Oregon,NaN,Bachelor,493291.63%,37260.0,62.0,1/0/00,Corporate Auto,Four-Door Car,15.437681
35,YV55495,Arizona,NaN,High School or Below,574422.97%,68987.0,71.0,1/0/00,Personal Auto,Four-Door Car,204.475147
36,KY38074,California,NaN,Bachelor,1389173.57%,42305.0,117.0,1/0/00,Personal Auto,Four-Door Car,561.600000
37,DM79012,Oregon,NaN,Master,738097.67%,65706.0,91.0,1/0/00,Personal Auto,Four-Door Car,436.800000
38,CM61827,Oregon,NaN,Bachelor,309003.41%,0.0,90.0,1/0/00,Personal Auto,Two-Door Car,648.000000
39,WC35801,Arizona,NaN,High School or Below,252163.31%,53243.0,66.0,1/2/00,Personal Auto,Four-Door Car,157.397849
40,QG25316,Nevada,NaN,High School or Below,265206.18%,0.0,70.0,1/1/00,Corporate Auto,Two-Door Car,484.318536
41,MB98372,Oregon,NaN,College,277104.50%,50071.0,71.0,1/0/00,Corporate Auto,Two-Door Car,18.918935
42,IL19217,California,NaN,Bachelor,393900.64%,60021.0,99.0,1/0/00,Personal Auto,Four-Door Car,882.871945
43,SR38658,Arizona,NaN,High School or Below,1223187.97%,43244.0,103.0,1/0/00,Personal Auto,Sports Car,494.400000
44,YD87931,Washington,M,Doctor,495165.61%,46896.0,35354.0,1/1/00,Personal Auto,Four-Door Car,31.707317
45,HG65722,Oregon,NaN,Doctor,1281910.29%,10105.0,172.0,1/3/00,Personal Auto,SUV,0.517753
46,BU27331,Arizona,NaN,Bachelor,446851.05%,0.0,73.0,1/3/00,Personal Auto,Four-Door Car,579.165954
47,XM45289,Oregon,NaN,High School or Below,551434.40%,23218.0,71.0,1/0/00,Personal Auto,Two-Door Car,447.793440
48,KP34198,California,NaN,Bachelor,334387.53%,0.0,92.0,1/0/00,Corporate Auto,Four-Door Car,529.624084
49,SH90947,Arizona,NaN,High School or Below,229447.89%,0.0,62.0,1/0/00,Personal Auto,Four-Door Car,313.023175

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(4008, 11)

In [5]:
file2 = pd.read_csv('file2.csv')
display(file2.head(50))
display(file2.tail())
file2.shape

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
5,WL99637,Arizona,M,Bachelor,761413.80%,27293,96,1/0/00,469.030907,Personal Auto,Two-Door Car
6,UC84059,California,F,Master,689845.53%,70950,171,1/0/00,565.929394,Personal Auto,Sports Car
7,HW62747,Oregon,M,College,229837.92%,0,63,1/0/00,302.400000,Corporate Auto,Four-Door Car
8,BH11344,Oregon,F,Doctor,280669.61%,37009,71,1/0/00,145.673348,Corporate Auto,Two-Door Car
9,TX28465,Nevada,M,College,520611.82%,52629,65,1/0/00,136.684141,Personal Auto,Four-Door Car
10,OK56965,California,F,Bachelor,4570865.34%,31264,198,1/1/00,825.657746,Personal Auto,Luxury SUV
11,WT22392,Oregon,F,College,800734.91%,65473,67,1/0/00,277.685667,Personal Auto,Four-Door Car
12,PH85036,Washington,F,Bachelors,548254.94%,79325,68,1/0/00,251.294821,Corporate Auto,Four-Door Car
13,KC71643,Oregon,M,High School or Below,246323.68%,99144,61,1/0/00,292.800000,Corporate Auto,Four-Door Car
14,NR32615,California,M,College,549894.07%,22520,73,1/0/00,350.400000,Corporate Auto,Four-Door Car
15,GS69842,Arizona,F,Bachelor,524382.80%,36615,65,1/0/00,264.563772,Special Auto,Four-Door Car
16,WT71621,Washington,F,Bachelors,328045.73%,63297,82,1/0/00,251.756739,Personal Auto,Four-Door Car
17,KD23847,Arizona,F,High School or Below,488654.43%,76374,61,1/0/00,292.800000,Personal Auto,Four-Door Car
18,PE59368,Washington,F,Bachelors,512348.50%,72096,6464,1/0/00,252.330905,Personal Auto,Two-Door Car
19,NK91488,Nevada,M,Master,547955.51%,56005,68,1/1/00,326.400000,Personal Auto,Four-Door Car
20,CR33417,Washington,F,Master,476215.70%,36529,118,1/0/00,255.005116,Personal Auto,SUV
21,WP73172,Oregon,F,Bachelor,828767.93%,81367,103,1/0/00,415.768941,Special Auto,SUV
22,PS30217,California,F,Bachelor,988665.64%,44817,83,1/0/00,527.421579,Personal Auto,Four-Door Car
23,EL62967,Oregon,F,High School or Below,271291.56%,58508,69,1/0/00,57.614392,Personal Auto,Two-Door Car
24,MU23938,Oregon,M,Bachelor,1047767.63%,45259,138,1/0/00,272.217171,Personal Auto,SUV
25,VC83809,California,M,Doctor,343613.43%,30817,88,1/0/00,91.834668,Personal Auto,Four-Door Car
26,VL34577,Oregon,F,High School or Below,259618.52%,0,72,1/0/00,345.600000,Personal Auto,Two-Door Car
27,QE12539,California,M,Doctor,1273195.16%,40870,105,1/0/00,504.000000,Personal Auto,SUV
28,YO15246,Nevada,M,High School or Below,349414.79%,35001,96,1/3/00,460.800000,Personal Auto,Four-Door Car
29,WF73839,Arizona,F,College,759791.07%,49937,64,1/0/00,302.586407,Personal Auto,Two-Door Car
30,TJ11671,Oregon,F,Bachelor,401521.45%,0,109,1/0/00,523.200000,Personal Auto,Four-Door Car
31,SV34223,California,F,College,2047710.84%,58317,73,1/0/00,350.400000,Personal Auto,Four-Door Car
32,XD19546,California,F,High School or Below,816068.98%,0,109,1/0/00,523.200000,Personal Auto,SUV
33,OY95739,Nevada,M,High School or Below,1229868.63%,17101,113,1/0/00,542.400000,Corporate Auto,SUV
34,SW57539,California,F,College,871492.21%,0,118,1/0/00,566.400000,Corporate Auto,SUV
35,IA62027,Arizona,F,Bachelor,485353.42%,0,65,1/0/00,468.000000,Personal Auto,Four-Door Car
36,FZ20933,Oregon,M,High School or Below,488094.64%,24398,63,1/1/00,302.400000,Personal Auto,Four-Door Car
37,WR62597,Oregon,M,College,231138.21%,24641,61,1/0/00,294.927730,Corporate Auto,Four-Door Car
38,KU61611,Arizona,M,High School or Below,432709.89%,69040,108,1/0/00,518.400000,Corporate Auto,Sports Car
39,XW98867,Oregon,M,High School or Below,1229868.63%,17101,113,1/0/00,542.400000,Personal Auto,SUV
40,PP80817,California,F,High School or Below,832353.33%,59886,104,1/0/00,71.729298,Personal Auto,Sports Car
41,DT77901,Oregon,F,Bachelor,1017971.70%,14290,271,1/0/00,1300.800000,Personal Auto,Luxury SUV
42,DX34647,California,F,College,776126.78%,43137,96,1/0/00,460.800000,Personal Auto,Two-Door Car
43,OD56551,Oregon,M,College,523989.09%,27978,69,1/1/00,447.911255,Personal Auto,Four-Door Car
44,OO63074,California,F,Bachelor,451790.88%,25261,118,1/0/00,566.400000,Personal Auto,SUV
45,EH24828,Nevada,M,College,238977.41%,58652,64,1/5/00,307.200000,Personal Auto,Four-Door Car
46,CX99919,Nevada,F,College,413062.88%,28321,111,1/0/00,537.391704,Corporate Auto,SUV
47,DG80424,Washington,F,College,269156.90%,77411,67,1/0/00,257.900458,Personal Auto,Four-Door Car
48,NU32697,Oregon,M,College,522776.64%,0,72,1/0/00,518.400000,Corporate Auto,Four-Door Car
49,PU98976,California,F,Bachelor,618734.57%,0,88,1/0/00,633.600000,Personal Auto,Four-Door Car

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

(996, 11)

In [6]:
file3 = pd.read_csv('file3.csv')
display(file3.head(50))
display(file3.tail())
file3.shape

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
5,VI78454,Arizona,2750.705045,College,M,51789,70,0,Personal Auto,336.000000,Four-Door Car
6,FP59138,Oregon,13024.130120,Master,M,0,125,0,Personal Auto,900.000000,SUV
7,XN62489,Oregon,2538.626320,Bachelor,M,18608,71,0,Corporate Auto,340.800000,Four-Door Car
8,GP66031,California,2585.955652,College,F,83758,64,0,Corporate Auto,106.591949,Two-Door Car
9,IX68587,Nevada,5096.673223,Master,F,22886,65,0,Personal Auto,312.000000,Four-Door Car
10,HX17929,California,10083.486880,High School or Below,F,11828,90,0,Personal Auto,571.479602,Four-Door Car
11,IC59236,California,4943.386117,College,F,44762,62,0,Corporate Auto,114.514440,Four-Door Car
12,VG31922,Nevada,6516.214888,Bachelor,F,0,175,0,Personal Auto,1221.143438,SUV
13,HP87787,Arizona,8838.085637,Bachelor,M,82664,114,3,Corporate Auto,133.425609,SUV
14,AL78075,Oregon,3810.238281,High School or Below,M,0,108,0,Personal Auto,777.600000,Four-Door Car
15,WA97671,Arizona,6334.466403,Bachelor,M,0,63,0,Personal Auto,302.400000,Four-Door Car
16,QZ77637,Washington,11665.097790,College,F,84978,72,1,Corporate Auto,166.772960,Four-Door Car
17,FP11777,California,10972.067780,Doctor,M,24164,137,0,Corporate Auto,657.600000,Sports Car
18,ID45268,California,6006.963446,College,F,0,80,0,Personal Auto,488.910614,Four-Door Car
19,AX86150,Washington,2656.713092,High School or Below,M,62777,67,0,Personal Auto,101.288069,Two-Door Car
20,MW57614,Arizona,2359.423599,Bachelor,F,19864,63,0,Personal Auto,352.394515,Four-Door Car
21,TJ30081,Arizona,12036.620510,Bachelor,M,44428,104,0,Personal Auto,499.200000,SUV
22,FW44940,California,8467.387317,Bachelor,F,21139,113,0,Personal Auto,656.798232,Sports Car
23,CS55808,California,9392.557553,College,M,0,88,0,Personal Auto,851.146266,Four-Door Car
24,WZ61178,California,5227.230377,Bachelor,F,11896,69,0,Personal Auto,476.254583,Two-Door Car
25,IV55977,Oregon,2693.759250,Bachelor,M,0,73,1,Personal Auto,350.400000,Two-Door Car
26,YC67208,California,2227.072755,High School or Below,M,27972,61,0,Personal Auto,292.800000,Four-Door Car
27,LZ89773,California,2326.864833,Doctor,M,0,62,0,Personal Auto,624.711448,Four-Door Car
28,IP52990,Oregon,16794.314220,High School or Below,F,38399,106,0,Personal Auto,368.890904,SUV
29,VF73104,Arizona,5016.827946,High School or Below,F,20868,63,0,Personal Auto,134.629643,Four-Door Car
30,OC80343,Oregon,7757.924239,Bachelor,M,49682,101,0,Personal Auto,198.844530,SUV
31,EL89222,California,8609.158215,Bachelor,F,79090,107,0,Personal Auto,289.040734,SUV
32,QB14114,Oregon,5275.056933,High School or Below,F,81850,132,0,Personal Auto,429.860895,Sports Car
33,HM41195,Arizona,5746.326190,High School or Below,M,22906,76,0,Personal Auto,519.883102,Four-Door Car
34,JT41591,Washington,2705.987629,College,M,0,83,1,Personal Auto,398.400000,Four-Door Car
35,HE15857,Washington,6186.265217,Bachelor,M,37138,83,2,Personal Auto,417.283890,Two-Door Car
36,KI64666,Nevada,22445.280880,Bachelor,F,0,71,0,Personal Auto,511.200000,Four-Door Car
37,JC33752,Oregon,6277.844624,College,F,21024,82,1,Personal Auto,450.129276,Two-Door Car
38,JA25453,California,7215.821106,High School or Below,M,0,103,0,Personal Auto,741.600000,Four-Door Car
39,AJ69778,Oregon,6514.430592,High School or Below,F,77135,84,3,Personal Auto,98.372265,Four-Door Car
40,FQ83162,Washington,34708.872610,College,M,0,109,0,Personal Auto,718.700718,Sports Car
41,EY89842,Arizona,4216.195220,Bachelor,M,0,114,0,Corporate Auto,820.800000,SUV
42,TG69238,Oregon,13158.372060,Bachelor,F,72845,108,0,Personal Auto,463.000336,SUV
43,UI63465,Oregon,2917.539465,High School or Below,F,51622,74,0,Corporate Auto,355.200000,Four-Door Car
44,WX33904,Arizona,6355.678846,Bachelor,M,0,61,0,Special Auto,292.800000,Two-Door Car
45,HA20933,Oregon,13269.599420,Bachelor,F,15616,114,1,Personal Auto,547.200000,SUV
46,BU16704,Oregon,5880.256499,High School or Below,F,0,82,0,Personal Auto,590.400000,Four-Door Car
47,JV68002,Washington,5926.729379,College,M,23091,96,5,Corporate Auto,460.800000,Four-Door Car
48,PM78410,Oregon,4121.252137,Bachelor,F,0,67,3,Personal Auto,482.400000,Two-Door Car
49,PU92298,Arizona,7956.152761,Bachelor,F,22699,74,4,Personal Auto,355.200000,Four-Door Car

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

(7070, 11)

In [7]:
#standardize header names
file1.columns=[e.lower().replace(' ', '_') for e in file1.columns] 
file1.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [8]:
file2.columns=[e.lower().replace(' ', '_') for e in file2.columns] 
file2.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [9]:
file3.columns=[e.lower().replace(' ', '_') for e in file3.columns] 
file3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [10]:
# renaming columns
file1 = file1.rename(columns={'st':'state'})
file1.head()
#file1.shape

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [11]:
# renaming columns
file2 = file2.rename(columns={'st':'state'})
file2.head()
#file2.shape

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [12]:
file1 = file1[['customer', 'state', 'gender','education','customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']]
file1.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [13]:
file2 = file2[['customer', 'state', 'gender','education','customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']]
file2.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.6
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.2
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.6
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.2
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.2

In [14]:
file3 = file3[['customer', 'state', 'gender','education','customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']]
file3.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000

In [15]:
file_new = pd.concat([file1,file2,file3], axis=0)
file_new.shape

(12074, 11)

In [16]:
file_new.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [17]:
# # Rearranging columns: 
file_new = file_new[['customer','gender', 'education'  ,'state','income','customer_lifetime_value','vehicle_class','monthly_premium_auto','policy_type', 'number_of_open_complaints' ,'total_claim_amount']]
file_new.head()

,customer,gender,education,state,income,customer_lifetime_value,vehicle_class,monthly_premium_auto,policy_type,number_of_open_complaints,total_claim_amount
0,RB50392,NaN,Master,Washington,0.0,NaN,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934
1,QZ44356,F,Bachelor,Arizona,0.0,697953.59%,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935
2,AI49188,F,Bachelor,Nevada,48767.0,1288743.17%,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247
3,WW63253,M,Bachelor,California,0.0,764586.18%,SUV,106.0,Corporate Auto,1/0/00,529.881344
4,GA49547,M,High School or Below,Washington,36357.0,536307.65%,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323

In [18]:
# Which columns are numerical
file_num=file_new._get_numeric_data()
file_num.head()

    income  monthly_premium_auto  total_claim_amount
0      0.0                1000.0            2.704934
1      0.0                  94.0         1131.464935
2  48767.0                 108.0          566.472247
3      0.0                 106.0          529.881344
4  36357.0                  68.0           17.269323

In [19]:
#Which columns are categorical
file_cat=file_new.select_dtypes('object')
file_cat.head()

,customer,gender,education,state,customer_lifetime_value,vehicle_class,policy_type,number_of_open_complaints
0,RB50392,NaN,Master,Washington,NaN,Four-Door Car,Personal Auto,1/0/00
1,QZ44356,F,Bachelor,Arizona,697953.59%,Four-Door Car,Personal Auto,1/0/00
2,AI49188,F,Bachelor,Nevada,1288743.17%,Two-Door Car,Personal Auto,1/0/00
3,WW63253,M,Bachelor,California,764586.18%,SUV,Corporate Auto,1/0/00
4,GA49547,M,High School or Below,Washington,536307.65%,Four-Door Car,Personal Auto,1/0/00

In [20]:
print(file_new.columns.tolist())

['customer', 'gender', 'education', 'state', 'income', 'customer_lifetime_value', 'vehicle_class', 'monthly_premium_auto', 'policy_type', 'number_of_open_complaints', 'total_claim_amount']

In [21]:
#Delete the column education and the number of open complaints
file_new1 = file_new.drop(['education','number_of_open_complaints'], axis =1)
display(file_new.tail())

,customer,gender,education,state,income,customer_lifetime_value,vehicle_class,monthly_premium_auto,policy_type,number_of_open_complaints,total_claim_amount
7065,LA72316,M,Bachelor,California,71941.0,23405.98798,Four-Door Car,73.0,Personal Auto,0,198.234764
7066,PK87824,F,College,California,21604.0,3096.511217,Four-Door Car,79.0,Corporate Auto,0,379.200000
7067,TD14365,M,Bachelor,California,0.0,8163.890428,Four-Door Car,85.0,Corporate Auto,3,790.784983
7068,UP19263,M,College,California,21941.0,7524.442436,Four-Door Car,96.0,Personal Auto,0,691.200000
7069,Y167826,M,College,California,0.0,2611.836866,Two-Door Car,77.0,Corporate Auto,0,369.600000

In [22]:
#Correct the values in the column customer lifetime value.They are given as a percent ,
#so multiply them by 100 and change dtype to numerical type.
file_new1['customer_lifetime_value'] = file_new['customer_lifetime_value']*100
display(file_new)

,customer,gender,education,state,income,customer_lifetime_value,vehicle_class,monthly_premium_auto,policy_type,number_of_open_complaints,total_claim_amount
0,RB50392,NaN,Master,Washington,0.0,NaN,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934
1,QZ44356,F,Bachelor,Arizona,0.0,697953.59%,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935
2,AI49188,F,Bachelor,Nevada,48767.0,1288743.17%,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247
3,WW63253,M,Bachelor,California,0.0,764586.18%,SUV,106.0,Corporate Auto,1/0/00,529.881344
4,GA49547,M,High School or Below,Washington,36357.0,536307.65%,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,M,Bachelor,California,71941.0,23405.98798,Four-Door Car,73.0,Personal Auto,0,198.234764
7066,PK87824,F,College,California,21604.0,3096.511217,Four-Door Car,79.0,Corporate Auto,0,379.200000
7067,TD14365,M,Bachelor,California,0.0,8163.890428,Four-Door Car,85.0,Corporate Auto,3,790.784983
7068,UP19263,M,College,California,21941.0,7524.442436,Four-Door Car,96.0,Personal Auto,0,691.200000
7069,Y167826,M,College,California,0.0,2611.836866,Two-Door Car,77.0,Corporate Auto,0,369.600000

In [23]:
file_new1['customer_lifetime_value'] =  pd.to_numeric(file_new1['customer_lifetime_value'], errors='coerce')
file_new1.head(20)

,customer,gender,state,income,customer_lifetime_value,vehicle_class,monthly_premium_auto,policy_type,total_claim_amount
0,RB50392,NaN,Washington,0.0,NaN,Four-Door Car,1000.0,Personal Auto,2.704934
1,QZ44356,F,Arizona,0.0,NaN,Four-Door Car,94.0,Personal Auto,1131.464935
2,AI49188,F,Nevada,48767.0,NaN,Two-Door Car,108.0,Personal Auto,566.472247
3,WW63253,M,California,0.0,NaN,SUV,106.0,Corporate Auto,529.881344
4,GA49547,M,Washington,36357.0,NaN,Four-Door Car,68.0,Personal Auto,17.269323
5,OC83172,F,Oregon,62902.0,NaN,Two-Door Car,69.0,Personal Auto,159.383042
6,XZ87318,F,Oregon,55350.0,NaN,Four-Door Car,67.0,Corporate Auto,321.600000
7,CF85061,M,Arizona,0.0,NaN,Four-Door Car,101.0,Corporate Auto,363.029680
8,DY87989,M,Oregon,14072.0,NaN,Four-Door Car,71.0,Corporate Auto,511.200000
9,BQ94931,F,Oregon,28812.0,NaN,Four-Door Car,93.0,Special Auto,425.527834
10,SX51350,M,California,0.0,NaN,Four-Door Car,67.0,Personal Auto,482.400000
11,VQ65197,NaN,California,0.0,NaN,SUV,110.0,Personal Auto,528.000000
12,DP39365,NaN,California,77026.0,NaN,Four-Door Car,110.0,Corporate Auto,472.029737
13,SJ95423,NaN,Arizona,99845.0,NaN,SUV,110.0,Corporate Auto,528.000000
14,IL66569,NaN,California,83689.0,NaN,Four-Door Car,70.0,Corporate Auto,307.139132
15,BW63560,NaN,Oregon,24599.0,NaN,Four-Door Car,64.0,Corporate Auto,42.920271
16,FV94802,NaN,Nevada,25049.0,NaN,Two-Door Car,67.0,Personal Auto,454.245098
17,OE15005,NaN,Cali,28855.0,NaN,SUV,101.0,Personal Auto,647.442031
18,WC83389,NaN,Oregon,51148.0,NaN,Four-Door Car,72.0,Personal Auto,308.981664
19,FL50705,NaN,California,66140.0,NaN,Four-Door Car,101.0,Corporate Auto,484.800000

In [26]:
#Check for duplicates and remove them
file_new1 = file_new1.drop_duplicates()
print(file_new1.shape)

(9135, 9)

In [29]:
#Filter out customers  who have an income of 0 or less
file_new[(file_new['customer']) (file_new['income']<0)]
# & = AND, | = OR

TypeError: 'Series' object is not callable